body {
	background: #ffe8ce;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
  
  .ufive-feedback {
	font-size: 62.5%;
	font-family: "Exo 2", sans-serif;
	font-weight: 600;
  }
  
  .ufive-feedback section {
	background: #eee;
	margin: 60px auto 120px;
	border-top: 15px solid #393939;
	text-align: center;
	padding: 50px 0 110px;
	width: 80%;
	max-width: 1100px;
  }
  
  .ufive-feedback section h1 {
	margin-bottom: 40px;
	font-size: 4em;
	text-transform: uppercase;
	font-family: "Exo 2", sans-serif;
	font-weight: 400;
	color: #393939;
  }
  
  .ufive-feedback form {
	width: 58.3333333333%;
	margin: 0 auto;
	color: #f3be81;
  }
  
  .ufive-feedback form .field {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
	color: #f3be81;
  }
  
  .ufive-feedback form .field label {
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	background: #393939;
	width: 100%;
	padding: 18px 0;
	font-size: 1.45em;
	letter-spacing: 0.075em;
	-webkit-transition: all 333ms ease-in-out;
	-moz-transition: all 333ms ease-in-out;
	-o-transition: all 333ms ease-in-out;
	-ms-transition: all 333ms ease-in-out;
	transition: all 333ms ease-in-out;
  }
  
  .ufive-feedback form .field label + span {
	opacity: 0;
	color: white;
	display: block;
	position: absolute;
	top: 12px;
	left: 7%;
	font-size: 2.5em;
	text-shadow: 1px 2px 0 #cd6302;
	-webkit-transition: all 333ms ease-in-out;
	-moz-transition: all 333ms ease-in-out;
	-o-transition: all 333ms ease-in-out;
	-ms-transition: all 333ms ease-in-out;
	transition: all 333ms ease-in-out;
  }
  
  .ufive-feedback form .field input[type="text"],
  form .field textarea {
	border: none;
	background: #393939;
	width: 80.5%;
	font-family: "Exo 2", sans-serif;
	margin: 0;
	padding: 18px 0;
	padding-left: 19.5%;
	color: #fff;
	font-size: 1.4em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
  }
  
  .ufive-feedback form .field input[type="text"]#msg,
  form .field textarea#msg {
	height: 12px;
	resize: none;
	font-size: 10px;
	font-family: "Exo 2", sans-serif;
	-webkit-transition: all 333ms ease-in-out;
	-moz-transition: all 333ms ease-in-out;
	-o-transition: all 333ms ease-in-out;
	-ms-transition: all 333ms ease-in-out;
	transition: all 333ms ease-in-out;
  }
  
  .ufive-feedback form .field input[type="text"]:focus,
  form .field input[type="text"].focused,
  form .field textarea:focus,
  form .field textarea.focused {
	outline: none;
	color: #f3be81;
	font-family: "Exo 2", sans-serif;
  }
  
  .ufive-feedback form .field input[type="text"]:focus#msg,
  form .field input[type="text"].focused#msg,
  form .field textarea:focus#msg,
  form .field textarea.focused#msg {
	padding-bottom: 150px;
	font-size: 10px;
	font-family: "Exo 2", sans-serif;
  }
  
  .ufive-feedback form .field input[type="text"]:focus + label,
  form .field input[type="text"].focused + label,
  form .field textarea:focus + label,
  form .field textarea.focused + label {
	width: 18%;
	background: #393939;
	color: #fff;
  }
  
  .ufive-feedback form .field input[type="text"].focused + label,
  form .field textarea.focused + label {
	color: #fff;
  }
  
  .ufive-feedback form .field:hover label {
	width: 18%;
	background: #f3be81;
	color: #393939;
  }
  
  .ufive-feedback form input[type="submit"] {
	background: #f3be81;
	color: #393939;
	-webkit-appearance: none;
	border: none;
	text-transform: uppercase;
	position: relative;
	padding: 13px 50px;
	font-size: 1.4em;
	letter-spacing: 0.1em;
	font-family: "Exo 2", sans-serif;
	font-weight: 300;
	cursor: pointer;
	-webkit-transition: all 333ms ease-in-out;
	-moz-transition: all 333ms ease-in-out;
	-o-transition: all 333ms ease-in-out;
	-ms-transition: all 333ms ease-in-out;
	transition: all 333ms ease-in-out;
  }
  
  .ufive-feedback form input[type="submit"]:hover {
	background: #393939;
	color: #f3be81;
  }
  
  .ufive-feedback form input[type="submit"]:focus {
	outline: none;
	background: #f3be81;
	color: #393939;
  }
  
  @media (max-width: 765px) {
	.ufive-feedback form {
	  width: 100%;
	}
  
	.ufive-feedback section {
	  width: 100%;
	}
  }
  